<ion-view view-title="Payment Failed" hide-back-button=true>
    <ion-content>
      <div class="text-center padding" ng-show="loading">
        <ion-spinner class="spinner-balanced"></ion-spinner>
      </div>
      <div style = "height:100%;" ng-show="!loading">
        <div class="item">
          <h2 style = "color:#afafaf;text-align:center">Your payment of Gourde {{total_amount}} had been unsuccessfull.</h2>
          <ion-list>
            <ion-item style = "float: left;width: 50%;">
              <b>Payment Status :</b>
            </ion-item>
            <ion-item style = "float: left;width: 50%;">
              <b>Failed</b>
            </ion-item>
            <div class="clear"></div>
          </ion-list>
<!--           <center>
            <button class = "button button-bright" ng-click = "checkout()">
              Retry
            </button>
          </center> -->
        </div>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Detay tikè a</strong>
        </div>
        <ion-list>
          <ion-item style = "float: left;width: 50%;">
            <b>Nimewo</b>
          </ion-item>
          <ion-item style = "float: left;width: 50%;">
            <b>Amount(Gourde)</b>
          </ion-item>
          <div class="clear"></div>
        </ion-list>
        <ion-list ng-repeat = "ticket in tickets">
          <ion-item style = "float: left;width: 50%;">
            {{ticket.number}}
          </ion-item>
          <ion-item style = "float: left;width: 50%;">
            {{ticket.amount}}
          </ion-item>
          <div class="clear"></div>
        </ion-list>
        <ion-list>
          <ion-item style = "float: left;width: 50%;">
            <b>Total</b>
          </ion-item>
          <ion-item style = "float: left;width: 50%;">
            <b>{{total_amount}}</b>
          </ion-item>
          <div class="clear"></div>
        </ion-list>
      </div>
    </ion-content>
    <ion-footer-bar class="bar-energized" style = "height:50px;">
        <button class="footer-button button-green full-width" ui-sref ="init()" style = "font-weight:bold;height:50px;">
          <span >Back to home</span>
        </button>
    </ion-footer-bar>
</ion-view>
