<ion-view view-title="lotri detay">
    <ion-content>
      <div class="text-center padding" ng-show="loading">
        <ion-spinner class="spinner-balanced"></ion-spinner>
      </div>
      <div style = "height:100%;" ng-show="!loading">
        <div class="item" ng-show="error">
          <h1 style = "color:#777;text-align:center">{{message}}</h1>
        </div>
        <div ng-show="!error" style = "height:100%;">
          <ion-list>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">{{lottery.lottery_name}}</strong>
            </div>
            <ion-item>
              <p class = "title">
                <strong>Lotri ID: </strong>&nbsp;{{lottery.lottery_id}}
              </p>
              <p class = "title">
                <strong>Non lotri a: </strong>&nbsp;{{lottery.lottery_name}}
              </p>
              <p class = "title">
                <strong>Tiraj: </strong>&nbsp;on {{lottery.lottery_date_time}}
              </p>
            </ion-item>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">REZILTA TIRAJ LA</strong>
            </div>
            <ion-item ng-if="lottery.status == 'inactive'">
              <p class = "title balls">
                <div style = "width:30%;float:left;margin-right:5%;">
                  <span class = "ball">{{lottery.lottery_number_1}}</span>
                </div>
                <div style = "width:30%;float:left;margin-right:5%;">
                  <span class = "ball">{{lottery.lottery_number_2}}</span>
                </div>
                <div style = "width:30%;float:left;">
                  <span class = "ball">{{lottery.lottery_number_3}}</span>
                </div>
              </p>
            </ion-item>
            <ion-item ng-if="lottery.status == 'pending'">
              <p class = "title">
                <h2 style = "color:#777;text-align:center">Waitng for result. . .</h2>
              </p>
            </ion-item>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">BIYè OU TE ACHTE POU TIRAJ SA</strong>
            </div>
            <ion-item ng-if="!lottery.user_tickets.length">
              <p class = "title">
                <h2 style = "color:#777;text-align:center">Ou pa't achte biyè pou tiraj sa</h2>
              </p>
            </ion-item>
            <div ng-if="lottery.user_tickets.length">
              <ion-item ng-repeat="ticket in lottery.user_tickets" ui-sref="app.ticket-detail({id:ticket.ticket_id})">
                <p class = "title">
                  <strong>Tikè ID: </strong>&nbsp;TKT-{{ticket.ticket_id}}&nbsp;&nbsp;&nbsp;
                </p>
                <p class = "title">
                  <strong>Acheté a: </strong>&nbsp;on {{ticket.purchased_on}}
                </p>
                <p ng-if="ticket.payment_status == 'approved'">
                  <strong>Kantite lajan te jwe pou: </strong><span class = "balanced">${{ticket.total_amount}}</span>&nbsp;&nbsp;&nbsp;
                </p>
                </p>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </div>
    </ion-content>
</ion-view>
