<ion-view view-title="Detay kont ou">
    <ion-content>
      <div class="text-center padding" ng-show="loading">
        <ion-spinner class="spinner-balanced"></ion-spinner>
      </div>
      <div style = "height:100%;" ng-show="!loading">
        <div class="item" ng-show="error">
          <h1 style = "color:#777;text-align:center">{{message}}</h1>
        </div>
        <div ng-show="!error" style = "height:100%;">
          <ion-list>
            <div class="bar bar-subheader bar-stable static text-center" style = "height:100px;">
              <p style = "margin-top:10px;font-size:18px;">Balans Disponib</p>
                <strong class="title" style = "top: 30px; font-size: 30px;">Gourde {{account_details.available_balance}}</strong>
            </div>

            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title" style="border-bottom: 1px solid #fff;">Tranzaksyon yo</strong>
            </div>
            <ion-item ng-if="!transaction_list.length">
              <p class = "title">
                <h2 style = "color:#777;text-align:center">You have no recent recent transactions.</h2>
              </p>
            </ion-item>
            <div ng-if="transaction_list.length">
              <ion-item ng-repeat="transaction in transaction_list">
                <p class = "title" style = "width:50%;float:left;">
                  <strong>Kalite tranzaksyon: </strong>&nbsp;{{transaction.transaction_type}}
                </p>
                <p class = "title" style = "width:50%;float:left;">
                  <strong>Kantite: </strong>&nbsp;{{transaction.transaction_amount}}
                </p>
                <div class = "clear"></div>
                <p class = "title">
                  {{transaction.transaction_summary}}
                </p>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </div>
    </ion-content>
    <ion-footer-bar class="bar-energized" style = "height:50px;">
        <button ng-disabled="proceedTransferProgress" class="footer-button button-red" ui-sref ="app.transfer-credit()" style = "font-weight:bold;height:50px;">
          <span >Fè transfè a</span>
          <ion-spinner ng-show = "authenticateUserProgress" style = "margin-top:10px;stroke:#fff;fill:#fff;" icon="dots"></ion-spinner>
        </button>
    </ion-footer-bar>
</ion-view>
