      <ion-modal-view>
        <ion-header-bar class="bar-calm-900">
          <button class="button button-clear button-primary" ng-click="closeGetPasscodeModal()">
          	<i class="ion-close-round"></i>
          </button>
          <div class="title title-left header-item">Tanpri antre 4 chif sekrè paskod ou</div>
        </ion-header-bar>
        <ion-content class="padding">
        <div class="item error" ng-if="passcodeError">
        	<p>{{passcodeError}}</p>
        </div>
<div id="phone">
<div id = "digitContainer">
	<span class="digit_1" ng-class="securePasscodeLength > 0 ? 'active' : ''"><i class="ion-asterisk"></i></span>
	<span class="digit_2" ng-class="securePasscodeLength > 1 ? 'active' : ''"><i class="ion-asterisk"></i></span>
	<span class="digit_3" ng-class="securePasscodeLength > 2 ? 'active' : ''"><i class="ion-asterisk"></i></span>
	<span class="digit_4" ng-class="securePasscodeLength > 3 ? 'active' : ''"><i class="ion-asterisk"></i></span>
</div>
<div id="wrapper">    
	<div id = "centerAlign">
		<div class="key" ng-click="setPasscodeDigit(1)" rel="1">1</div>
	    <div class="key" ng-click="setPasscodeDigit(2)" rel="2">2</div>
	    <div class="key" ng-click="setPasscodeDigit(3)" rel="3">3</div>
	    <div class="clear"></div>
	    <div class="key" ng-click="setPasscodeDigit(4)" rel="4">4</div>
	    <div class="key" ng-click="setPasscodeDigit(5)" rel="5">5</div>
	    <div class="key" ng-click="setPasscodeDigit(6)" rel="6">6</div>
	    <div class="clear"></div>
	    <div class="key" ng-click="setPasscodeDigit(7)" rel="7">7</div>
	    <div class="key" ng-click="setPasscodeDigit(8)" rel="8">8</div>
	    <div class="key" ng-click="setPasscodeDigit(9)" rel="9">9</div>
	    <div class="clear"></div>
	    <div class="key" rel="*">*</div>
	    <div class="key" ng-click="setPasscodeDigit(0)" rel="0">0</div>
	    <div class="key" ng-click="deletePasscodeDigit()" rel="#"><i class="ion-android-arrow-back"></i></div>
	    <div class="clear"></div>

	    <button class="button button-green full-width" ng-click="verifyPasscode()" style = "font-weight:bold;height:50px;">
	      <span ng-show = "!updatePasscodeProgress">konfigirasyon paskod</span>
	      <ion-spinner ng-show = "updatePasscodeProgress" style = "margin-top:10px;stroke:#fff;fill:#fff;" icon="dots"></ion-spinner>
	    </button>
	    <div class="key nb"></div>
	    <div class="clear"></div>
	</div>
</div>
</div>
        </ion-content>
      </ion-modal-view>