<ion-view view-title="Detay pwofil ou">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-more-vertical activated" id="menu-popover" ng-click="popover.show($event)"></button>
    <!-- <button class="button button-clear" ng-click="updateProfileDetails()">
      <i class="ion-checkmark"></i>
    </button> -->
  </ion-nav-buttons>
  <ion-content>
    <div ng-show = "!loading" style = "height:100%;background:transparent;">
      <div class = "appointment-detail-header-image" style = "background-image:url('{{serverBase}}/media/images/{{profileDetails.profile_pic}}')">
        <div class = "gradientDark">
          <div class = "gradientContentContainer">
            <h3 ng-show="profileDetails.Name != ''">
              <span style = "float:left;">
                {{profileDetails.first_name}}&nbsp;{{profileDetails.last_name}}
              </span>
              <div class = "clearfix"></div>
            </h3>
            <h3 ng-show="profileDetails.Name == ''">Not Updated</h3>
          </div>
        </div>
      </div>
      <div>
        <div class="list" id = "profile-details">
          <ion-item class="item-divider item-icon-right text-center" style="text-align:center;"><b>Detay pwofil ou</b></ion-item>
          <label class="item item-input item-stacked-label">
            <p>Non</p>
            <p class = "profile-detail-content">{{profileDetails.first_name}}&nbsp;{{profileDetails.last_name}}</p>
          </label>
          <label class="item item-input item-stacked-label" ng-if="profileDetails.slug">
            <p>Referral ID:</p>
            <p class = "profile-detail-content">{{profileDetails.slug}}</p>
          </label>
          <label class="item item-input item-stacked-label">
            <p>Imèl</p>
            <p class = "profile-detail-content">{{profileDetails.email}}</p>
          </label>
          <label class="item item-input item-stacked-label">
            <p>Phone</p>
            <p class = "profile-detail-content">{{profileDetails.country_code}}{{profileDetails.phone}}</p>
          </label>
          <label class="item item-input item-stacked-label">
            <p>Enfòmasyon debaz</p>
            <p ng-if="profileDetails.basic_info != null"><strong>{{profileDetails.basic_info}}</p>
            <p ng-if="profileDetails.basic_info == null"><strong>Mete ajou enfòmasyon debaz ou a modifye pwofil seksyon</p>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
