<ion-view view-title="Ticket Detail">
    <ion-content>
      <div class="text-center padding" ng-show="loading">
        <ion-spinner class="spinner-balanced"></ion-spinner>
      </div>
      <div style = "height:100%;" ng-show="!loading">
        <div class="item" ng-show="error">
          <h1 style = "color:#777;text-align:center">{{message}}</h1>
        </div>
        <div ng-show="!error" style = "height:100%;">
          <ion-list>
            <div ng-if="ticket.status == 'inactive'">
              <div class="winner" ng-if="ticket.win_amount != '0.00'">
                <strong>Congratulations</strong>
              </div>
              <br>
              <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">You won <span class = "balanced">Gourde {{ticket.win_amount}}</span> on this ticket</strong>
              </div>
            </div>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Ticket Details</strong>
            </div>
            <ion-item>
              <p class = "title">
                <strong>Ticket ID: </strong>&nbsp;TKT-{{ticket.ticket_id}}
              </p>
              <p class = "title">
                <strong>Purchased on: </strong>&nbsp;{{ticket.purchased_on}}
              </p>
              <p ng-if="ticket.payment_status == 'approved'">
                <strong>Total amount: </strong><span class = "balanced">Gourde {{ticket.total_amount}}</span>&nbsp;&nbsp;&nbsp;
                <strong>Payment Status: </strong><span class = "balanced">Paid</span>
              </p>
            </ion-item>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Lottery details</strong>
            </div>
            <ion-item>
              <p class = "title">
                <strong>Lottery ID: </strong>&nbsp;{{ticket.lottery_id}}&nbsp;&nbsp;&nbsp;
                <strong>Lottery Name: </strong>&nbsp;{{ticket.lottery_name}}
              </p>
              <p class = "title">
                <strong>Draw on: </strong>&nbsp;on {{ticket.lottery_date_time}}
              </p>
            </ion-item>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Lottery result</strong>
            </div>
            <ion-item ng-if="ticket.status == 'inactive'">
              <p class = "title balls">
                <div style = "width:30%;float:left;margin-right:5%;">
                  <span class = "ball">{{ticket.lottery_number_1}}</span>
                </div>
                <div style = "width:30%;float:left;margin-right:5%;">
                  <span class = "ball">{{ticket.lottery_number_2}}</span>
                </div>
                <div style = "width:30%;float:left;">
                  <span class = "ball">{{ticket.lottery_number_3}}</span>
                </div>
              </p>
            </ion-item>
            <ion-item ng-if="ticket.status == 'pending'">
              <p class = "title">
                <h2 class = "text-center">Waiting for result.</h2>
              </p>
            </ion-item>
            <ion-item ng-if="ticket.status == 'active'">
              <p class = "title">
                <h2 class = "text-center">Lottery is currently active.</h2>
              </p>
            </ion-item>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Numbers you played for with this ticket</strong>
            </div>
            <div ng-if="ticket.status == 'inactive'">
              <div ng-if="ticket.number_list.length">
                <ion-item style = "float: left;width: 32%;">
                  <b>Number</b>
                </ion-item>
                <ion-item style = "float: left;width: 32%;">
                  <b>Paid</b>
                </ion-item>
                <ion-item style = "float: left;width: 35%;">
                  <b>Win</b>
                </ion-item>
                <div ng-repeat = "number in ticket.number_list">
                  <ion-item style = "float: left;width: 32%;">
                    {{number.ticket_number}}
                  </ion-item>
                  <ion-item style = "float: left;width: 32%;">
                    {{number.ticket_amount}}
                  </ion-item>
                  <ion-item style = "float: left;width: 35%;">
                    {{number.win_amount}}
                  </ion-item>
                </div>
                <ion-item style = "float: left;width: 32%;">
                  <b>Total</b>
                </ion-item>
                <ion-item style = "float: left;width: 32%;">
                  <b>{{ticket.total_amount}}</b>
                </ion-item>
                <ion-item style = "float: left;width: 35%;">
                  <b>{{ticket.win_amount}}</b>
                </ion-item>
              </div>
            </div>
            <div ng-if="ticket.status != 'inactive'">
              <div ng-if="ticket.number_list.length">
                <ion-item style = "float: left;width: 50%;">
                  <b>Number</b>
                </ion-item>
                <ion-item style = "float: left;width: 50%;">
                  <b>Amount(Gourde)</b>
                </ion-item>
                <div ng-repeat = "number in ticket.number_list">
                  <ion-item style = "float: left;width: 50%;">
                    {{number.ticket_number}}
                  </ion-item>
                  <ion-item style = "float: left;width: 50%;">
                    {{number.ticket_amount}}
                  </ion-item>
                </div>
                <ion-item style = "float: left;width: 50%;">
                  <b>Total</b>
                </ion-item>
                <ion-item style = "float: left;width: 50%;">
                  <b>{{ticket.total_amount}}</b>
                </ion-item>
              </div>
            </div>
            <ion-item ng-if="!ticket.number_list.length">
              <p class = "title">
                <h2 style = "color:#777;text-align:center">No details found for this ticket.</h2>
              </p>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-content>
</ion-view>
