<ion-view view-title="Tikè m yo">
    <ion-content>
      <div class="text-center padding" ng-show="loading">
        <ion-spinner class="spinner-balanced"></ion-spinner>
      </div>
      <div style = "height:100%;" ng-show="!loading">
        <div class="item" ng-show="error">
          <h1 style = "color:#777;text-align:center">{{message}}</h1>
        </div>
        <div ng-show="!error" style = "height:100%;">
          <ion-list>
          	<ion-item ng-repeat="ticket in ticket_list" ui-sref="app.ticket-detail({id:ticket.ticket_id})">
              <p class = "title">
                <strong>Achte a: </strong>&nbsp;TKT-{{ticket.ticket_id}}&nbsp;&nbsp;&nbsp;
              </p>
              <p class = "title">
                <strong>Purchased on: </strong>&nbsp;on {{ticket.purchased_on}}
              </p>
              <p ng-if="ticket.payment_status == 'approved'">
                <strong>Total amount: </strong><span class = "balanced">${{ticket.total_amount}}</span>&nbsp;&nbsp;&nbsp;
                <strong>Payment Status: </strong><span class = "balanced">Paid</span>
              </p>
              </p>
          	</ion-item>
          </ion-list>

          <ion-infinite-scroll on-infinite="loadMore()" distance="5%" ng-if="hasMoreData"></ion-infinite-scroll>

          <div ng-show="!ticket_list.length">
            <h3 style = "color:#777;text-align:center">No tickets found</h3>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
