<ion-view view-title="Detay tikè">
    <ion-content>
      <div class="text-center padding" ng-show="loading">
        <ion-spinner class="spinner-balanced"></ion-spinner>
      </div>
      <div style = "height:100%;" ng-show="!loading">
        <div class="item" ng-show="error">
          <h1 style = "color:#777;text-align:center">{{message}}</h1>
        </div>
        <div ng-show="!error" style = "height:100%;">
          <ion-list>
            <div ng-if="ticket.status == 'inactive'">
              <div class="winner" ng-if="ticket.win_amount != '0.00'">
                <strong>Felisitasyon</strong>
              </div>
              <br>
              <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Ou genyen {{ticket.win_amount}} <span class = "balanced">Goud</span> pou tikè sa</strong>
              </div>
            </div>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Detay tikè a</strong>
            </div>
            <ion-item>
              <p class = "title">
                <strong>Tikè ID: </strong>&nbsp;TKT-{{ticket.ticket_id}}
              </p>
              <p class = "title">
                <strong>Acheté a: </strong>&nbsp;{{ticket.purchased_on}}
              </p>
              <p ng-if="ticket.payment_status == 'approved'">
                <strong>Total kantite lajan: </strong><span class = "balanced">Gourde {{ticket.total_amount}}</span>&nbsp;&nbsp;&nbsp;
                <strong>Estati peman: </strong><span class = "balanced">Paid</span>
              </p>
            </ion-item>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Detay tiraj la</strong>
            </div>
            <ion-item>
              <p class = "title">
                <strong>Lotri ID: </strong>&nbsp;{{ticket.lottery_id}}&nbsp;&nbsp;&nbsp;
                <strong>Non lotri a: </strong>&nbsp;{{ticket.lottery_name}}
              </p>
              <p class = "title">
                <strong>Tiraj: </strong>&nbsp;on {{ticket.lottery_date_time}}
              </p>
            </ion-item>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Rezilta lotri</strong>
            </div>
            <ion-item ng-if="ticket.status == 'inactive'">
              <p class = "title balls">
                <div style = "width:30%;float:left;margin-right:5%;">
                  <span class = "ball">{{ticket.lottery_number_1}}</span>
                </div>
                <div style = "width:30%;float:left;margin-right:5%;">
                  <span class = "ball">{{ticket.lottery_number_2}}</span>
                </div>
                <div style = "width:30%;float:left;">
                  <span class = "ball">{{ticket.lottery_number_3}}</span>
                </div>
              </p>
            </ion-item>
            <ion-item ng-if="ticket.status == 'pending'">
              <p class = "title">
                <h2 class = "text-center">Waiting for result.</h2>
              </p>
            </ion-item>
            <ion-item ng-if="ticket.status == 'active'">
              <p class = "title">
                <h2 class = "text-center">Lotri se kounye a aktif.</h2>
              </p>
            </ion-item>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Nimewo ou te jwe ak sa a tikè</strong>
            </div>
            <div ng-if="ticket.status == 'inactive'">
              <div ng-if="ticket.number_list.length">
                <ion-item style = "float: left;width: 32%;">
                  <b>Nimewo</b>
                </ion-item>
                <ion-item style = "float: left;width: 32%;">
                  <b>Peye</b>
                </ion-item>
                <ion-item style = "float: left;width: 35%;">
                  <b>Win</b>
                </ion-item>
                <div ng-repeat = "number in ticket.number_list">
                  <ion-item style = "float: left;width: 32%;">
                    {{number.ticket_number}}
                  </ion-item>
                  <ion-item style = "float: left;width: 32%;">
                    {{number.ticket_amount}}
                  </ion-item>
                  <ion-item style = "float: left;width: 35%;">
                    {{number.win_amount}}
                  </ion-item>
                </div>
                <ion-item style = "float: left;width: 32%;">
                  <b>Total</b>
                </ion-item>
                <ion-item style = "float: left;width: 32%;">
                  <b>{{ticket.total_amount}}</b>
                </ion-item>
                <ion-item style = "float: left;width: 35%;">
                  <b>{{ticket.win_amount}}</b>
                </ion-item>
              </div>
            </div>
            <div ng-if="ticket.status != 'inactive'">
              <div ng-if="ticket.number_list.length">
                <ion-item style = "float: left;width: 50%;">
                  <b>Nimewo</b>
                </ion-item>
                <ion-item style = "float: left;width: 50%;">
                  <b>kantite lajan(Gourde)</b>
                </ion-item>
                <div ng-repeat = "number in ticket.number_list">
                  <ion-item style = "float: left;width: 50%;">
                    {{number.ticket_number}}
                  </ion-item>
                  <ion-item style = "float: left;width: 50%;">
                    {{number.ticket_amount}}
                  </ion-item>
                </div>
                <ion-item style = "float: left;width: 50%;">
                  <b>Manm</b>
                </ion-item>
                <ion-item style = "float: left;width: 50%;">
                  <b>{{ticket.total_amount}}</b>
                </ion-item>
              </div>
            </div>
            <ion-item ng-if="!ticket.number_list.length">
              <p class = "title">
                <h2 style = "color:#777;text-align:center">Pa gen detay yo te jwenn pou sa a tikè.</h2>
              </p>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-content>
</ion-view>
