<ion-view view-title="Transfè">
    <ion-content>
      <div class="text-center padding" ng-show="loading">
        <ion-spinner class="spinner-balanced"></ion-spinner>
      </div>
      <div style = "height:100%;" ng-show="!loading">
        <div style = "height:100%;" id = "transfer-credit">
          <ion-list>
            <div class="bar bar-subheader bar-stable static text-center" style = "height:80px;">
              <p style = "margin-top: 15px;font-size: 15px;">Fè transfè pou zanmi ak fanmi'wimedyatman <strong>GRATIS TI Cheri!!</strong></p>
            </div>
            <div class="item" ng-show = "error" style = "border: 0px;padding: 15px 4px;">
              <div class = "error">{{error_message}}</div>
            </div>
<!--             <div class="item" style = "border: 0px;padding: 15px 4px;">
              <input type="text" placeholder = "Mete Telefòn mou'n nan" ng-model = "data.receiver_login_id" class = "ios">
            </div> -->
            <div class="item" style = "border: 0px;">
               <select ng-model="data.country" ng-init="data.country=countries[0]" ng-options="country.name for country in countries" class = "ios"></select>
            </div>
            <div class="item" style = "border: 0px;">
              <input type="text" ng-model="data.country.dial_code" class = "ios" style = "width:20%;float:left;" disabled>
              <input type="tel" placeholder = "Mete Telefòn mou'n nan" ng-model = "data.phone" class = "ios" style = "width:78%;float:right;">
            </div>
            <br>
            <div class="item" style = "border: 0px;padding: 15px 4px;">
              <input type="text" placeholder = "konbyen lajan wap voye" ng-model = "data.amount" class = "ios">
            </div>
          </ion-list>
        </div>
      </div>
    </ion-content>
    <ion-footer-bar class="bar-energized" style = "height:50px;">
        <button ng-disabled="proceedTransferProgress" class="footer-button button-green full-width" ng-click = "proceedTransfer();" style = "font-weight:bold;height:50px;">
          <span ng-show = "!proceedTransferProgress">Kontinye</span>
          <ion-spinner ng-show = "proceedTransferProgress" style = "margin-top:10px;stroke:#fff;fill:#fff;" icon="dots"></ion-spinner>
        </button>
    </ion-footer-bar>
</ion-view>
