<ion-nav-bar align-title="center" class="bar-positive">
  <ion-nav-title>
    Update Password
  </ion-nav-title>
</ion-nav-bar>
<ion-view view-title="Update Password" id="greenGradient">
  <ion-content class = "has-header">
    <div class="text-center padding" ng-show="loading">
      <ion-spinner class="spinner-balanced"></ion-spinner>
    </div>
    <div style = "height:100%;" ng-show="!loading" id = "login">
      <div class = "clearfix clear"></div>
      <div class="item" style = "border: 0px;">
        <input type="password" placeholder = "Sekre modpas ou" ng-model = "data.password" class = "ios">
      </div>
      <div class="item" style = "border: 0px;">
        <input type="password" placeholder = "Sekre modpas ou" ng-model = "data.confirm_password" class = "ios">
      </div>
      <button class="button button-red full-width" ng-click="updatePassword()" style = "font-weight:bold;height:50px;">
        <span ng-show = "!updatePasswordProgress">Update</span>
        <ion-spinner ng-show = "updatePasswordProgress" style = "margin-top:10px;stroke:#fff;fill:#fff;" icon="dots"></ion-spinner>
      </button>
    </div>
  </ion-content>
</ion-view>
